#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.samosa {
  height: 15em;
  padding: 1.5em;
  margin: 0 auto;
  text-align: center;
}
/* when you hover over the object, it will grow */
.samosa:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/* when you click on the image it will shrink. */
.samosa:active{
  transform: scale(0.95);
}

.container {
  margin-top: 50px;
  display: flex;
}

.upgrade {
  border: 1px solid rgba(153, 153, 153, 0.497);
  border-radius: 2px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
  margin-right: 25px;
  width: 200px;
  line-height: 0.5;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color:  rgba(255, 255, 255, 0.87);
  cursor: pointer;
  margin-top: 10px;
}
